*{

}

body {
  text-align: center;
  background-color: #f1f0ff;
}

h1 {
    border-bottom: 5px solid black ;
    background-color:#c3c3e5 ;
    
}

#image {
    text-align: right;
    padding-right: 60px;
}

img {
    border: 5px solid black;
}

ul {
    list-style: none;
}

#menu {
      
}

li {
   
}

p.dos,
p.tres {
    background-color: #c3c3e5;
}

p {
  border: dashed  black;
  text-indent: 40px;
    width: 90%;
    background: color #c3c3e5;
}

#header {
  
}

#content{
  
}

#text {
  
}

#text p {
  box-shadow: 1px 1px 5px black;
    text-align: center;
     margin: 10px auto;
}

#text p:first-child {
  border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image: url("../images/fondoParrafo.png");
    background-repeat: repeat;
}

#text p:last-child {
     border-bottom-left-radius:  30px; 
    border-bottom-right-radius: 30px;
}

#menu {

}

#menu a{
    text-decoration: none;
     color: #443266;
     padding-left: 5px;
     border-left: 5px red;
}


#menu li{ 
      display: inline-block;
    border-left: 5px solid red;

}

#menu li a:hover{
   
}

#footer{
    border-top: 5px solid black;
    background-color: #443266;
    color:white;
}

#footer a{  
    color:white;
}

#footer a:hover{

}

#menu a:hover {
    text-decoration: underline;
    text-decoration-color: red;
}

@media all and (max-width: 500px) {
     body {
        text-align: center;
    }
    img {
        border: 5px  solid red;
        width: 90%;
    }
   
}
