
/* MENU SUPERIOR*/

body {
    color: #FAF3E7;
}

.menu {
    display: flex;
    position: fixed;
    justify-content: center;
    gap: 15px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border: 5px solid #2c1703;
    background-color: #8B5E34;
}

.menu button {
    /*flex-grow: 1;*/
    cursor: pointer;
    border: none ;
    background-color:#8B5E34 ;
    color:#FAF3E7;
    height: 30px;
}

.menu button:hover {
    text-decoration: underline;
}

.menu button:first-child{
    border-radius: 5px 0 0 5px;
}

.menu button:last-child{
    border-radius: 0 5px 5px 0;
}

/*TÍTULO*/

.titulo{ 
    height: 300px;
    background-image: url(images/fondo2.png); 
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    margin-top: 30px;
    border-bottom: 5px solid #2c1703;
    
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    align-self: flex-end;
    padding-left:30%;
    font-size: 50px;
    color:black;
}

/*COOKIES*/

.cookies {
    border: 10px solid #2c1703 ;
    background-color: #FAF3E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    top: 50%;
    left: 50%;
    position: absolute;
    top: 250px;
    left: 10%;
    right: 10%;   
    
}

.cookies p{
    height: 200px;
    border: 1px solid ;
}

.cookies h2 {
    font-style: italic;
}

.cookies p {
    border: none;
    font-size: 20px;
    text-align: center;
    color: #2c1703;
}

.button {
  	background-color: #8B5E34; /* Green */
    border: 2px solid #2c1703;
    color: white;
    padding: 25px 40px;
    margin-bottom: 15px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* MAIN */

section {
    border: 5px solid #2c1703;
    margin: 20px 20px 20px 20px;
    display: flex;
    gap: 20px;
    height: 350px;
    background-color: #8B5E34;
    
}

section h2 {
    padding-left: 20px;
}

section p {
    padding: 0 20px 20px 20px;
    border: none;
    font-size: 20px;
    line-height: 1.5;
   
}

p span {
    font-style: italic;
}

.texto {
    width: 70%;
    overflow: auto;
}

figure {
    width:30%;
    height: 80%;
    margin: 20px;
    overflow: hidden;
}

figure img{
    border: 2px solid #2c1703;
}

.bloque2 .texto {
    order: 2;
}

.bloque2 figure {
    order: 1;
}

main {
    background-color: #FAF3E7;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: 10px;
}

.bloque1 {
    width: 90%;
    border-right: 2px solid #8B5E34;
}

nav{
    width: 10%;
    padding-top: 20px;
}

nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

nav img{
  width: 100px;
  height: 100px;
}


/* He añdido esta parte porque al estar el menu superior "fixed" no parece que pase nada.*/

#inicio:target{
  outline: 3px solid #FAF3E7;
  box-shadow: 0 0 10px rgba(0,0,0,.35);
}

#productos:target{
  outline: 3px solid #FAF3E7;
  box-shadow: 0 0 10px rgba(0,0,0,.35);
}

#encargos:target{
  outline: 3px solid #FAF3E7;
  box-shadow: 0 0 10px rgba(0,0,0,.35);
}

#ubicacion:target{
  outline: 3px solid #FAF3E7;
  box-shadow: 0 0 10px rgba(0,0,0,.35);
}
/* FOOTER*/

footer {
    background-color: #8B5E34;
    border:5px solid #2c1703;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
    color: #FAF3E7;
}

.footer2 {
    text-align: center;
}

.footer2 p {
    margin:0;
    font-size: 40px;
    font-style: italic;
}

.footer4 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 15px;
}

.footer1 ul, .footer3 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer a{
  text-decoration: none;
  color: #FAF3E7;
}

.footer3 span:hover{
  text-decoration: underline;
  color: blue;
}

.footer4 span {
    font-weight: bold;
}

/* 8*/

@media (max-width: 768px){

  main{
    flex-direction: column;
  }

  nav{
    width: 100%;
    position: static;   
  }

 
  nav ul{
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;    
  }
}